<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio de Sesión</title>
  <link rel="icon" href="/img/tio_logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles_login.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
  <div class="form-container">
    <form class="form" id="login-form" novalidate>
      <span class="heading">Iniciar Sesión</span>
      
      <div class="form-group">
        <input class="form-input" id="Usuario" required type="text" />
        <label for="Usuario">Usuario</label>
        <small class="error-message" aria-live="polite"></small>
      </div>
      
      <div class="form-group">
        <input class="form-input" id="Password" required type="password" />
        <label for="Password">Contraseña</label>
        <small class="error-message" aria-live="polite"></small>
      </div>
      
      <button type="submit" class="btn-submit">INGRESAR</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/JS/inicio_sesion.js"></script>
</body>
</html>